<div class="container">
  @if (form) {
  <form [formGroup]="form">
    <ng-container formArrayName="formArray">
      @for (question of formArray.controls; track question; let i = $index) {
      <ng-container [formGroupName]="i">
        @if (question.value.questionType === QUESTION_KEY.PARAGRAPH) {
        <div class="flex flex-column">
          <label
            >{{ question.value.questionContent }}
            @if(question.value.isRequired) {
            <span class="required">*</span>
            }
          </label>
          <mat-form-field>
            <textarea matInput formControlName="answers"></textarea>
            @if (questionTexarea(i).get('answers')?.hasError('required')) {
            <mat-error> This field is required! </mat-error>
            }
          </mat-form-field>
        </div>
        } @else {
        <div class="flex flex-column mt-10">
          <label
            >{{ question.value.questionContent }}
            @if(question.value.isRequired) {
            <span class="required">*</span>
            }
          </label>
          <ng-container formArrayName="answers">
            @for (answer of questionArray(i).controls; track answer; let j =
            $index) {
            <ng-container [formGroupName]="j">
              <mat-checkbox
                formControlName="checked"
                (change)="changeCheckBox($event, answer.value, i, j)"
                >{{ answer.value.answer }}</mat-checkbox
              >
            </ng-container>
            }
          </ng-container>
          @if(formArray.at(i).get('isShowOther')?.value) {
          <mat-form-field>
            <input matInput formControlName="other" />
            @if ( formArray.at(i).get('other')?.hasError('required')) {
            <mat-error> This field is required! </mat-error>
            }
          </mat-form-field>
          } @if (questionArray(i).hasError('required')) {
          <mat-error class="required"> This field is required! </mat-error>
          }
        </div>
        }
      </ng-container>
      }
    </ng-container>
    @if(isShowButon) {
    <div class="flex flex-end">
      <button
        mat-flat-button
        color="primary"
        (click)="onSave()"
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
    }
  </form>
  }

  <button mat-button color="primary" (click)="addNewQuestion()">
    Add New Question
  </button>
</div>
